<!DOCTYPE html>
<html lang="en" data-theme="cronomy">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cronomy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block head %} {% endblock %}
</head>

<body class="text-user-text">
    {% block toast %}
    <div class="toast toast-top toast-end" id="toast_container"></div>
    {% endblock %}
    {% block content %}
    <div class="navbar bg-base-100 shadow-sm">
        <div id="tablist" role="tablist" class="tabs tabs-box bg-primary-500">
            <a role="tab" id="entries" class="tab" href="{{ url_for('show_entries') }}">Entries</a>
            <a role="tab" id="scheduled" class="tab" href="{{ url_for('show_scheduled') }}">Scheduled</a>
        </div>
    </div>

    {% endblock %}
</body>

</html>